@model Depo

<h3>Depo Düzenle</h3>
<hr>
<div class="widget-holder col-md-12">
    <div class="widget-bg">
        <div class="widget-body">
            <form asp-controller="Depo" asp-action="Edit" method="post">
                <div class="form-group">
                    <label class="text-muted" asp-for="Depoİsmi">Depo İsmi</label>
                    <input type="text" asp-for="Depoİsmi" class="form-control form-control-line">
                </div>
                <div class="form-group">
                    <label class="text-muted" asp-for="Adres">Adres</label>
                    <input type="text" asp-for="Adres" class="form-control form-control-line">
                </div>
                <input asp-for="Id" class="form-control" type="hidden">

                <div class="form-group mr-b-20">
                    <button class="btn btn-block btn-rounded btn-md btn-color-scheme text-uppercase fw-600 ripple" type="submit">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.widget-body -->
    </div>
    <!-- /.widget-bg -->
</div>